<nav>
  <mat-toolbar id="toolbar">
    <h1 id="toolbarText">Cuestionario</h1>
    <span class="example-spacer"></span>
  </mat-toolbar>
</nav>

<h1 id="textHead">Responde detenidamente</h1>
<!------------------------->
<div id="divCuestions">
  <h3>Pregunta 1</h3>
  <p style="margin-top: -1rem">
    <mat-form-field appearance="legacy">
      <input matInput />
    </mat-form-field>
  </p>
  <!------------------------->
  <h3>Pregunta 2</h3>
  <p style="margin-top: -1rem">
    <mat-form-field appearance="legacy">
      <input matInput />
    </mat-form-field>
  </p>
  <!------------------------->
  <h3>Pregunta 3</h3>
  <p style="margin-top: -1rem">
    <mat-form-field appearance="legacy">
      <input matInput />
    </mat-form-field>
  </p>
  <!------------------------->
  <h3>Pregunta 4</h3>
  <p style="margin-top: -1rem">
    <mat-form-field appearance="legacy">
      <input matInput />
    </mat-form-field>
  </p>
  <!------------------------->
</div>

<a href="/home" style="text-decoration: none;"><button mat-button id="btnContinue">Finalizar</button></a>
