<nav>
  <mat-toolbar id="toolbar">
    <h1 id="toolbarText">Cuestionario de Evaluacion de NNA</h1>
    <span class="example-spacer"></span>
  </mat-toolbar>
</nav>

<h1 id="textHead">Ingrese su Informacion</h1>

<!------------------------->
<div id="divCuestions">
  <form action="#" id="form">
    <!-------------------------------------------------------->
    <mat-form-field appearance="fill" class="alingItems">
      <mat-label>Elija la Fecha</mat-label>
      <input matInput [matDatepicker]="picker" id="fecha" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!-------------------------------------------------------->
    <mat-card class="alingItems" id="fieldCasaHogar">
      <mat-form-field class="example-full-width alingItems">
        <h3>Nombre de la casa hogar o alvergue</h3>
        <input matInput id="casaHogar" />
      </mat-form-field>
    </mat-card>
    <!-------------------------------------------------------->
    <mat-card class="alingItems" id="nna">
      <mat-form-field class="example-full-width">
        <h3>Código de la NNA</h3>
        <input matInput id="codigoNNA" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <h3>Primer Nombre de la NNA</h3>
        <input matInput id="primerNombreNNA" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <h3>Fecha de Nacimiento</h3>
        <input matInput id="fechaNacimiento" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <h3>CURP</h3>
        <input matInput id="curp" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <h3>Grado Escolar</h3>
        <input matInput id="gradoEscolar" />
      </mat-form-field>
    </mat-card>
    <!-------------------------------------------------------->
    <mat-card class="alingItems" id="fieldMedico">
      <mat-form-field class="example-full-width">
        <h3>Diagnóstico Médico</h3>
        <input matInput id="diagnosticoMedico" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <h3>Peso</h3>
        <input matInput id="peso" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <h3>Talla</h3>
        <input matInput id="talla" />
      </mat-form-field>
    </mat-card>
    <!-------------------------------------------------------->
    <mat-card class="alingItems" id="fieldPsicologico">
      <mat-form-field class="example-full-width">
        <h3>Diagnóstico Psicológico</h3>
        <input matInput id="diagnosticoPsicologico" />
      </mat-form-field>

      <h3>Resultado de Evaluciones Psicológicas</h3>

      <mat-form-field appearance="fill">
        <mat-label>CI</mat-label>
        <mat-select [(value)]="ci">
          <mat-option value="Bajo">Bajo</mat-option>
          <mat-option value="Alerta">Alerta</mat-option>
          <mat-option value="Promedio">Promedio</mat-option>
          <mat-option value="Alto">Alto</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>LectoEscritura</mat-label>
        <mat-select [(value)]="lectoEscritura">
          <mat-option value="Bajo">Bajo</mat-option>
          <mat-option value="Alerta">Alerta</mat-option>
          <mat-option value="Promedio">Promedio</mat-option>
          <mat-option value="Alto">Alto</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Raven</mat-label>
        <mat-select [(value)]="raven">
          <mat-option value="Bajo">Bajo</mat-option>
          <mat-option value="Alerta">Alerta</mat-option>
          <mat-option value="Promedio">Promedio</mat-option>
          <mat-option value="Alto">Alto</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>ENI</mat-label>
        <mat-select [(value)]="eni">
          <mat-option value="Bajo">Bajo</mat-option>
          <mat-option value="Alerta">Alerta</mat-option>
          <mat-option value="Promedio">Promedio</mat-option>
          <mat-option value="Alto">Alto</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Detector</mat-label>
        <mat-select [(value)]="detector">
          <mat-option value="Bajo">Bajo</mat-option>
          <mat-option value="Alerta">Alerta</mat-option>
          <mat-option value="Promedio">Promedio</mat-option>
          <mat-option value="Alto">Alto</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Habilidades Sociales</mat-label>
        <mat-select [(value)]="habilidadesSociales">
          <mat-option value="Bajo">Bajo</mat-option>
          <mat-option value="Alerta">Alerta</mat-option>
          <mat-option value="Promedio">Promedio</mat-option>
          <mat-option value="Alto">Alto</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Resultados de Evaluciones ABT</mat-label>
        <mat-select [(value)]="resultadosEvaluacionesABT">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
    <!-------------------------------------------------------->

    <a href="/home" style="text-decoration: none; margin: 35px; padding: 15px">
      <button mat-button id="btnContinue">Finalizar</button>
    </a>
  </form>
</div>
