:root {
  --purple: #633c88;
}

/* Toolbar */
#toolbarText {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#toolbar {
  color: white;
  background-color: #633c88;
}

/* Image Logo*/
#imgLogo {
  max-width: 8rem;
  max-height: 8rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 3rem;
}

#divTextGeneral {
  margin-top: 4rem;
}

/* Button Continue */

#btnContinue {
  width: 100%;
  font-size: 20px;
  background-color: #633c88;
  color: white;
  margin-top: 2rem;
}

/* Text Head */

#textHead {
  margin-top: 3.5rem;
  text-align: center;
}

/* Div Cuestions*/

#divCuestions {
  margin-top: 5rem;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

mat-form-field,
input {
  width: 100%;
}

a {
  text-decoration: none;
}
