<nav>
  <mat-toolbar id="toolbar">
    <h1 id="toolbarText">Inicio de Sesion</h1>
    <span class="example-spacer"></span>
  </mat-toolbar>
</nav>

<img
  id="imgLogo"
  src="https://firebasestorage.googleapis.com/v0/b/encuestaws.appspot.com/o/Images%20Main%20Screen%2FCPW_Logo.png?alt=media&token=f50d1195-b35b-41c1-81f1-214fbff52fc3"
  alt="logo create purpose"
/>

<h1 id="textHead">Ingrese sus Datos</h1>


<!--------------------------------------------->
<form id="divCuestions">
  <div class="form-group">
    <label for="exampleInputEmail1" >Usuario</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">Nunca Comparta sus datos.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
</form>
<!--------------------------------------------->

 <a href="/tests" style="text-decoration: none"
  ><button mat-button id="btnContinue">Iniciar Sesion</button></a
>
