<nav>
  <mat-toolbar id="toolbar">
    <h1 id="toolbarText">Create Purpose</h1>
    <span class="example-spacer"></span>
  </mat-toolbar>
</nav>

<img id="imgMonkey" src="https://firebasestorage.googleapis.com/v0/b/encuestaws.appspot.com/o/Images%20Main%20Screen%2Fmonkey.png?alt=media&token=7be57bc7-d605-4ce6-bcaf-505ee9a63626" alt="monkey"> 

<img id="imgElephant" src="https://firebasestorage.googleapis.com/v0/b/encuestaws.appspot.com/o/Images%20Main%20Screen%2FElephant.png?alt=media&token=ba756eb8-843b-4a97-852f-8e9864971a94" alt="elephant">



<h1 id="welcomeText">Bienvenidos</h1>

<a href="/instructions" style="text-decoration: none;"><button mat-button id="btnContinue">Continuar</button></a>