#toolbar {
  color: white;
  background-color: #633c88;
}

#navTitle {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

/* Image Logo*/
#imgLogo {
  max-width: 15rem;
  max-height: 15rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 4rem;
}

/* Div welcome and button */
#btnContinue {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  font-size: 25px;
  background-color: #633c88;
  color: white;
  margin-top: 9rem;
}

/* Welcome Text */
#welcomeText {
  margin-top: 3rem;
  text-align: center;
  font-size: 35px;
}
